<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body class="light-blue lighten-1">
    <% if(typeof user != 'undefined') { %>
    <%- include('templates/navbar', {userName:user.first_name}); %>
    <% } else { %>
    <%- include('templates/navbar'); %>
    <% } %>
    <div class="container">
        
        <%- body %>
    </div>

    <!-- <% if(typeof success_msg != 'undefined') { %>
        <div class="red-text">
            <p><%= success_msg %></p>
        </div>
        <% } %>
        <% if(typeof error_msg != 'undefined') { %>
        <div class="red-text">
            <p><%= error_msg %></p>
        </div>
        <% } %>
        <% if(typeof error != 'undefined') { %>
        <div class="red-text">
            <p><%= error %></p>
        </div>
        <% } %> -->
</body>

</html>